body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#SupportHero{
  background: rgb(56, 126, 209);
  color: white;
}
#SupportHero a{
  color: white;

}
#SupportHero input{
  padding: 1rem 1rem;
  width: 90%;
  border-radius: .35rem;
}

#SupportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#SupportWrapper h4{
  margin-left: -3rem;
  
}